.testimonials{
    position: relative;
    z-index: 9999;
    .container{
        background-color: white;
    }
    h3{
        font-weight: 400;
        margin-bottom: 66px;
    }
    
    #slider-testimonials{
        width: 90%;
        margin: 0 auto;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 3.2rem;
        text-align: center;
        text-shadow: none;
        color: #747474;
        font-weight: 400;
        padding-top: 50px;
        padding-bottom: 70px;
        .carousel-caption{
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            text-align: center;
            text-shadow: none;
            width: 80%;
            margin: 0 auto;
            color: #a1a5ad;
            padding-top: 0;
            padding-bottom: 40px;
            &::after{
                background-color: #4f458c;
                bottom: 0;
                content: "";
                display: inline-block;
                height: 2px;
                margin: 0 -22px 0 auto;
                position: absolute;
                right: 50%;
                text-align: center;
                width: 45px;
            }
        }
        .person{
//            position: absolute;
//            top:0;
//            right: 0;
            margin-top: 40px;
            .left{
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;
            }
            .right{
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                line-height: 2rem;
                p{
                    font-size: 1.6rem;
                    &:last-child{
                        font-size: 1.4rem;
                    }
                }
            }
        }
        &::before{
            content: '';
            background-image: url(../img/ico_quote.png);
            background-repeat: no-repeat;
            background-position: 0px 0px;
            position: absolute;
            left: 50%;
            margin-left: -18px;
            top:0px;
            width: 36px;
            height: 26px;
        }
    }
    
}